In [28]:
import pandas as pd
import sqlalchemy
from dotenv import load_dotenv
import os

load_dotenv()

USERNAME = os.getenv('DB_USERNAME')
PASSWORD = os.getenv('DB_PASSWORD')
HOSTNAME = os.getenv('DB_HOSTNAME')
PORT = os.getenv('DB_PORT')
DATABASE = os.getenv('DB_DATABASE')

In [29]:
# Connect to your MySQL database
engine = sqlalchemy.create_engine(f"mysql://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DATABASE}")

In [31]:
# Read the CSV file, infer data types and create the table in MySQL
df = pd.read_csv('cleaned_data/SEANUTS II ALL - 20230621 Anthro.csv')
df.to_sql('Anthro', con=engine, if_exists='replace', index=False)

df = pd.read_csv('cleaned_data/SEANUTS II ALL - 20230526 Common Variables.csv')
df.to_sql('CommonVariables', con=engine, if_exists='replace', index=False)

df = pd.read_csv('cleaned_data/SEANUTS II ALL - 20231101 BV_SR1.csv')
df.to_sql('BloodValue', con=engine, if_exists='replace', index=False)

df = pd.read_csv('cleaned_data/SEANUTS II ALL - 20231128 Nutrients per Subject.csv')
df.to_sql('Nutrients', con=engine, if_exists='replace', index=False)

C:\Users\FunW01\AppData\Local\Temp\ipykernel_16124\1211242449.py:3: UserWarning: The provided table name 'Anthro' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Anthro', con=engine, if_exists='replace', index=False)
C:\Users\FunW01\AppData\Local\Temp\ipykernel_16124\1211242449.py:6: UserWarning: The provided table name 'CommonVariables' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('CommonVariables', con=engine, if_exists='replace', index=False)
C:\Users\FunW01\AppData\Local\Temp\ipykernel_16124\1211242449.py:9: UserWarning: The provided table name 'BloodValue' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('BloodValue', con=engine, if_exists='replace', index=False)
C:\Users\FunW01\AppData\Local\Temp\ipykernel_16124\1211242449.py:12: UserWarning: The provided table name 'Nutrients' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Nutrients', con=engine, if_exists='replace', index=False)

13933